@{
    ViewData["Title"] = "Acerca de...";
}
<h1>@ViewData["Title"]</h1>

<!-- <p>Use this page to detail your site's privacy policy.</p> -->
<h2>Proyecto Programado 1</h2>
<br>
<h3>Programación Avanzada</h3>
<p>Profesor: José Gabriel Cordero Soto</p>
<br>
<h4>Estudiantes</h4>
<ul>
    <li>Grehivin Vargas</li>
    <li>Duvan Vasquez</li>
    <li>Dennis Salas</li>
</ul>