@model Entidades.Reservaciones

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Reservaciones</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdReservacion" />
            <div class="form-group">
                <label asp-for="IdCliente" class="control-label"></label>
                <select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
                <span asp-validation-for="IdCliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdHabitacion" class="control-label"></label>
                <select asp-for="IdHabitacion" class="form-control" asp-items="ViewBag.IdHabitacion"></select>
                <span asp-validation-for="IdHabitacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CantidadAcompanantes" class="control-label"></label>
                <input asp-for="CantidadAcompanantes" class="form-control" />
                <span asp-validation-for="CantidadAcompanantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaEntrada" class="control-label"></label>
                <input asp-for="FechaEntrada" class="form-control" />
                <span asp-validation-for="FechaEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaSalida" class="control-label"></label>
                <input asp-for="FechaSalida" class="form-control" />
                <span asp-validation-for="FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoReservacion" class="control-label"></label>
                <input asp-for="EstadoReservacion" class="form-control" />
                <span asp-validation-for="EstadoReservacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoReservacion" class="control-label"></label>
                <input asp-for="CostoReservacion" class="form-control" />
                <span asp-validation-for="CostoReservacion" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="CostoReservacionPagado" /> @Html.DisplayNameFor(model => model.CostoReservacionPagado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
