@model Entidades.RolesUsuarios

@{
    ViewData["Title"] = "Asignación de roles";
}

<h1>Quitar</h1>

<!-- h3>Desea borrar este registro?</h3 -->
<div>
    <h4>Roles a usuario</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioNavigation.Usuario)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdRolNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdRolNavigation.Descripcion)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Quitar rol" class="btn btn-danger" /> 
        <a asp-action="Index" class="btn btn-dark">Cancelar</a>
    </form>
</div>
